* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body{
  background-color: #b2c0b7;
}

#searchBox:hover{
  background-color:#b2c1cc;
  cursor: pointer;
margin-bottom: 2rem;
 }

 #showInterest:hover{
   background-color: #a3b2b3;
     cursor: pointer;
     margin-bottom: 2rem;
 }
 #episodeSelector:hover{
   background-color: #98adad;
     cursor: pointer;
     margin-bottom: 2rem;
 }

 .buttonCont{
   display: flex;
   justify-content: space-around;  
   
 }

 .img{
   opacity: 0.2;
   padding: 1rem;
   max-width: 100%;  
 } 


.rootContainer {
  margin-top: 33.3px;
}

h1 {
   text-align: center;
  background:white;
  margin-bottom: 3rem;
}

.epiContainer {
  width: 380px;
  margin-top: 40px;
  padding: 0.3rem;
  margin-right: 1.8rem;
   background-color:white
}


  
.container {
  color: rgb(6, 36, 46);
  width: 90%;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

p {  
  text-align: justify;
}

/* #searchBox{

}


.container{
  background-color: rgb(126, 165, 177); */
