* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

.rootContainer {
  margin-top: 33.3px;
}
h1 {
  color: white;
  text-align: center;
  background: black;
}

.epiContainer {
  width: 30%;
  margin-top: 40px;
}
.searchBox {
  width: max-content;
}

div {
  background-color: whitesmoke;
  box-shadow: cornsilk, rgb(244, 244, 245);
  margin-left: 20px;
  align-items: center;
}

img {
  max-width: 600px;
  justify-content: space-between;
}

#root {
  color: rgb(6, 36, 46);
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
}

p {
  color: black;
}
